<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/components.css">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&display=swap" rel="stylesheet">
  <title>InovaElas</title>
</head>

<body>

  <!-- ===== Cabeçalho ===== -->
  <header>
    <div class="logo">
      <img src="../img/logo.png" alt="InovaElas">
    </div>

    <nav>
      <a href="#">Cursos</a>
      <a href="#">Sobre</a>
      <a href="#">Contato</a>
    </nav>

    <div class="auth-buttons">
      <a href="#" class="btn btn-entrar">Entrar</a>
      <a href="#" class="btn btn-cadastrar">Cadastre-se</a>
    </div>
  </header>


  <!-- ===== Hero com bolinhas  ===== -->
  <section class="hero">

      <!-- ===== Parte das bolinhas  ===== -->
    <div class="hero-background">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="hero-content" class="hero-content">
      <h1>Juntas pelo conhecimento, juntas por um <h1 class="h1-gradient">futuro melhor</h1>
      </h1>

      <p>Cursos gratuitos e acessíveis para mulheres que mais precisam. Desenvolva suas habilidades e
        construiremos juntas um futuro melhor. Faça parte do InovaElas.</p>
    </div>

    <div class="hero-btns">
      <a class="btn btn-saibaMais" href="#">Saiba Mais</a>
      <a class="btn btn-explorar" href="#">Explorar Cursos</a>
      <a class="btn btn-cadastrar" href="#">Cadrastre-se</a>
    </div>


    <div class="hero-img">

    </div>
  </section>

  <!-- ===== Rodapé ===== -->
  <footer>
    <div class="footer-container">
      <div class="footer-logo">
        <img src="../img/logo.png" alt="InovaElas">
        <p>Transformando vidas através da educação. Capacitando mulheres para um futuro mais próspero e independente.
        </p>
      </div>

      <div class="footer-column">
        <h4>Cursos</h4>
        <ul>
          <li><a href="#">Tecnologia</a></li>
          <li><a href="#">Finanças</a></li>
          <li><a href="#">Liderança</a></li>
          <li><a href="#">Carreira</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Suporte</h4>
        <ul>
          <li><a href="#">Central de ajuda</a></li>
          <li><a href="#">Como funciona</a></li>
          <li><a href="#">Políticas de privacidade</a></li>
          <li><a href="#">Termos de uso</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Contato</h4>
        <ul>
          <li>(11) 99999-9999</li>
          <li>minas.byte@gmail.com</li>
          <li>Rua Dom José Gaspar, 500<br>Belo Horizonte - MG</li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© Minas Byte. Direitos reservados</p>
      <span>Feito com ❤️ para transformar vidas.</span>
    </div>
  </footer>

</body>

</html>