<header>
        <div class="logo">
            <a href="index.html">
                <img src="./img/logo.png" alt="InovaElas">
            </a>
        </div>

        <input type="checkbox" id="menu-main-checkbox">
        <label for="menu-main-checkbox" class="menu-toggle-main">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav>
            <ul>
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="#descTrilha">Sobre</a></li>
                <li><a href="#duvidas">Contato</a></li>
            </ul>
            <div class="nav-auth-buttons">
                <a href="login.html" class="btn btn-entrar">Entrar</a>
                <a href="registro.html" class="btn btn-cadastrar">Cadastre-se</a>
            </div>
        </nav>

        <div class="auth-buttons">
            <a href="login.html" class="btn btn-entrar">Entrar</a>
            <a href="registro.html" class="btn btn-cadastrar">Cadastre-se</a>
        </div>
</header>