@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

#aula-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.aula-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.aula-online h1 {
    font-size: 26px;
    color: #364C84;
    font-weight: 600;
    margin-top: 60px;
}

.aula-online h2,
.aulas h2 {
    font-size: 36px;
    color: #364C84;
    font-weight: 600;
    margin: 50px;
    text-align: center;
}

.video-container {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.video-player {
    width: 1000px;
    max-width: 95%;
    height: 440px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* ====== VIDEO CENTRALIZADO (ESTILO MENTORIA) ====== */

.video-frame {
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
}

.video-frame video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}



.aulas-conteudo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px;
}

.aula {
    max-width: 90%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    margin: 90px auto;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.accordion-item {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.accordion-header {
    background: #f2f4f8;
    color: #364C84;
    font-weight: 600;
    padding: 16px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
}

.accordion-header:hover {
    background: #95b1ee;
}

.accordion-header .seta {
    font-size: 18px;
}

.accordion-item input {
    display: none;
}

.accordion-content {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 18px 20px;
}

.accordion-item input:checked+.accordion-header+.accordion-content {
    display: flex;
}

.p-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.aula p {
    color: #364C84;
    font-size: 16px;
}

.p-icons .icone {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    color: #4d4b4b;
}

.p-icons .icone:hover {
    transform: scale(1.5);
    color: #364C84;
}

#requisitos {
    display: flex;
    justify-content: center;
    background-color: #fafaef8f;
}

.requisitos-necess {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    margin: 50px;
}

.requisitos-um {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    max-width: 90%;
    border: 1px solid #364C84;
    padding: 10px;
    background-color: #95b1ee24;
    border-radius: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal.show {
    display: flex;
}

.modal-conteudo {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    position: relative;
}

.btn-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.requisitos-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    text-align: left;
}

.requisitos-icones {
    color: #364C84;
    margin-right: 10px;
}

h3 {
    color: #364C84;
    font-size: 28px;
    margin: 10px;
}

.requisitos-um p,
.informacoes p {
    color: #707070;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.requisitos-img {
    width: 200px;
    margin-bottom: 10px;
    max-width: 90%;
    height: auto;
    border-radius: 30px;
}

#instrutora-conteiner {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 20px;
}

.instrutora-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-bloco {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 30px;
}

.img-instrutora {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.informacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.informacoes h4 {
    color: #2b2b2b;
    font-size: 16px;
    margin: 10px;
    text-align: start;
}

@media (max-width: 768px) {
    .video-player {
        width: 95%;
        height: 250px;
    }
}