* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* Logo fora da caixa */
.logo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  /* Substitua depois pela sua imagem:
     background: url('logo.png') no-repeat center/contain; */
}

.imagemLogo{
  height: 63px;
}
/* Caixa de login */
.login-box {
  background-color: #ffffff;
  width: 100%;
  border-radius: 18px;
  padding: 40px 100px 40px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #6a6a6a;
  margin-bottom: 28px;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #222;
  margin-bottom: 6px;
}

input {
  width: 450px;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  margin-bottom: 18px;
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #b8b8b8;
}

.forgot-password {
  font-size: 13px;
  color: #7a7fe1;
  text-align: right;
  margin-bottom: 25px;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Botão principal */
.btn-login {
  width: 100%;
  height: 50px;
  background-color: #324a86;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 18px;
}

.btn-login:hover {
  background-color: #293f73;
}

/* Botão Google */
.btn-google {
  width: 100%;
  height: 50px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.154);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.google-icon{
  margin-right: 12px;
}
.divRegister{
  display: flex;
  width: 100%;
  justify-content: center;
}
.register{
  margin-top: 20px;
}